%h1 Choose A New Password

/ %form
/   .row
/     .large-6.large-centered.columns
/       %label Email
/         %input{:type => 'text'}
/   .row
/     .large-6.large-centered.columns
/       %label Password
/         %input{:type => 'password'}
/   .row
/     .large-6.large-centered.columns
/       %label Confirm Password
/         %input{:type => 'password'}
/   .row
/     .large-6.large-centered.columns
/       %a{:class => 'button'} Submit

= simple_form_for @user, url: password_reset_path(@token), :html => {:method => :patch}, :defaults => {:required => true} do |f|
  %h5= @user.email
  = f.input :email, :as => :hidden, :input_html => { :value => @user.email }
  = f.input :new_password, :autocomplete => false
  = f.input :password_confirmation
  = f.input :token, :as => :hidden, :input_html => { :value => @token }
  = f.submit "Submit"