= simple_form_for [:admin, @category, @variety] do |f|
  = f.input :name
  = f.input :description
  = f.input :top_image, label: "Top Image"
  = f.input :side_image, label: "Side Image"
  = f.submit "Create New Variety"
