.left-menu
  #garden-details
    = simple_form_for @garden, url: "#" do |f|
      = f.input :name, label: "Garden Name"
      = f.input :height
      = f.input :width
      -# Skipping the button for now, as we aren't implementing edit
  #shapes-menu
    .circles
      .circle.green
      .circle.brown
      .circle.gray
    .rectangles
      .rectangle.green
      .rectangle.brown
      .rectangle.gray



#garden{ :style => "width: #{ @garden.width * 12 * 5 }px; height: #{ @garden.height * 12 * 5 }px;" }
