.left_column
  - if @gardens.empty?
    %p You don't have any gardens yet!
    = button_to "Set up your First Garden", gardens_path
  - else
    %ul
      - @gardens.each do |garden|
        %li
          = link_to edit_garden_path(garden) do
            = render garden

.right_column
  - if @gardens.empty?
    = image_tag "http://placehold.it/150x150", class: "left"
    %p Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.
    %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
  - else
    = button_to "Add Another Garden", gardens_path
