%h1= @category.name
= link_to "Edit Plant Category", edit_category_path(@category), class: "button small secondary"
%hr

%h2 #{@category.name} Varieties:
%ul#varieties
  - @category.varieties.each do |variety|
    %li= link_to variety.full_title, edit_category_variety_path(@category, variety)

= link_to "Add New #{@category.name} Variety", new_category_variety_path(@category), class: "button small"
