%h1= @category.name
- @category.varieties.each do |var|
  = link_to "#{var.name}", category_variety_path(@category, var.id)
  %p= "#{var.description}"
= link_to "add variety", new_category_variety_path(@category)
= link_to "Edit Plant Category", edit_category_path(@category)
