%h1 Sign In
= simple_form_for @user, url: user_session_path, method: :post do |f|
  = f.input :email
  = f.input :password
  = link_to 'Reset your password', password_resets_path
  = f.submit "Sign In"
